<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Mi web personal </title>
</head>
<body>
    <h1>Mi web personal</h1>
    <ul>
        <li><a href="{% url 'home_url' %}">Portada</a></li>
        <li><a href="{% url 'about_url' %}">Acerca de</a></li>
        <li><a href="{% url 'portfolio_url' %}">Portafolio</a></li>
        <li><a href="{% url 'contact_url' %}">Contacto</a></li>
    </ul>
    <!-- contenido -->
    {% block content %}{% endblock %}
  </body>
</html>